*{
    background-color: #1F1717;
}
.container-1{
    display: flex;
    gap: 40px;
    justify-content: center;
    height: 88vh;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.heading{
    color: white;
    align-self: center;
    font-size: 45px;
    margin: 0;
    text-align: center;
}
.item {
    width: 400px;
    align-self: center;
}
.container-2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.item-1{
    height: 50px;
    color: white;
    width: 200px;
    background-color: #CE5A67;
}
button:hover {
    background-color: #F4BF96;
}
